<footer>
    <div class="footer-content">
        <div class="footer-column">
            <h4>Quick Links</h4>
            <div class="footer-links">
                <a href="/">Home</a>
                <a href="#contact">Contact Us</a>
                <a href="#service">Services</a>
                <a routerLink="pages">Pricing</a>
                <a routerLink="privacy">Privacy Policy</a>
                <a routerLink="terms">Terms of Use</a>

            </div>
        </div>
        <div class="footer-column">
            <h4>Connect with Us</h4>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-column">
            <h4>Contact Us</h4>
            <p>conversioncrew43@gmail.com</p>
        </div>
    </div>
    <div class="footerlogos mb-3">
        <img src="https://assets-global.website-files.com/64d1105c4d56246119187a1b/64e3d64ee948e3b18af2a9e0_Footer%20logos.svg" alt="">
    </div>
    <div class="copyright d-flex justify-content-center align-item-center">
        © 2024 All rights are reserved to Conversion Crew
    </div>
</footer>