.product-details-container {
    display: flex;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.product-image {
    flex: 1;
    margin-right: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-details {
    flex: 2;
}

.product-details h2 {
    margin-top: 0;
    color: #0f0f0f;
}

.product-details p {
    margin: 5px 0;
    color: #0f0f0f;
}

.product-details strong {
    font-weight: bold;
    color: #0f0f0f;
}

.product-details button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.product-details button:hover {
    background-color: #0056b3;
}
p{
    color: black;
}
