<div class="container margin-top-100px">
  <h3 id="services" class="text-center">Products</h3>
</div>
<div class="product-container ">
  <div>
    <ul class="d-flex">
      <li
        class="mx-2 mt-3"
        *ngFor="let category of categories"
        (click)="filterProductsByCategory(category)"
      >
        <div class="btn btn-primary">{{ category }}</div>
      </li>
    </ul>
  </div>
    <div *ngFor="let product of products">
      <div
        *ngIf="!selectedCategory || product.category === selectedCategory"
        class="card " (click)="buyProduct(product)"
      >
        <div class="product-image">
          <img [src]="product.productImages[0]" alt="Product Image" />
        </div>
        <div class="product-details">
          <h2>{{ product.productName }}</h2>
          <p>{{ product.productDesc }}</p>
          <p><strong>Category:</strong> {{ product.category }}</p>
          <p><strong>Discount:</strong> Get Flat 10% OFF</p>
        </div>
      </div>
    </div>

    <!-- <div class="container">
    <div *ngFor="let product of products" class="card-service">
        <div class="card">
            <div class="image-container">
                <img [src]="product.productImages[0]" alt="Product Image" />
            </div>
            <div class="bottom-section">
                <div class="white-part">
                    <h5>{{ product.productName }}</h5>
                    <p>{{ product.productDesc }}</p>
                    <p><strong>Price:</strong> ${{ product.price }}</p>
                   
                    <button (click)="buyProduct(product)" class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
  
</div>
