<nav class="navbar darkmo navbar-expand-lg container-fluid ">
    <div class="container-fluid">
        <div class="logoclass" *ngIf='!isloggedin()'>
            <a href="https://ecombags.netlify.app/"><img class="logo" src="../../../assets/images/Screenshot 2024-04-28 120008.png" alt=""></a>
            <!-- <a [ngClass]="" href="https://ecombags.netlify.app/" class="logotext">Klasik_Bags</a> -->
        </div>
        <div class="logoclass" *ngIf='isloggedin()'>
            <a href="https://ecombags.netlify.app/"><img class="logo" src="../../../assets/images/Screenshot 2024-04-28 120008.png" alt=""></a>
        </div>
        <button class="toggle-btn  "  type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div [ngClass]="" class="collapse  collpseitems navbar-collapse justify-content-around" id="navbarSupportedContent">

            <div >
                <ul class="navbar-nav margin-left-10rem ">
                   
                    <li class="nav-item">
                        <a [ngClass]="" routerLink="/products">
                            <h5>Products</h5>
                        </a>
                    </li>
                   
                    <li class="nav-item"  *ngIf="isloggedin() && !isAdmin()">
                        <a [ngClass]="" routerLink="/purchase-details">
                            <h5>Purchase Details</h5>
                        </a>
                    </li>
                    <li class="nav-item"  *ngIf="isloggedin() && isAdmin()">
                        <a [ngClass]="" routerLink="/dashboard">
                            <h5>Dashboard</h5>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="isloggedin() && isAdmin()">
                        <a [ngClass]="" routerLink="/add-blogs">
                            <h5>Add Blogs</h5>
                        </a>
                    </li>
                    <li class="nav-item"  *ngIf="isloggedin() && isAdmin()">
                        <a [ngClass]="" routerLink="/addproduct">
                            <h5>Add Products</h5>
                        </a>
                    </li>
                </ul>
            </div>
            
            <ul class="navbar-nav margin-left-10rem">
                <li class="nav-item">
                    <a [ngClass]="" routerLink="/cart">
                        
<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_934_129)">
    <path d="M18.6289 7.75H6.37112C5.31819 7.75 4.44559 8.56637 4.37555 9.61696L3.64222 20.617C3.56526 21.7713 4.48086 22.75 5.63778 22.75H19.3622C20.5192 22.75 21.4348 21.7713 21.3578 20.617L20.6245 9.61696C20.5544 8.56637 19.6818 7.75 18.6289 7.75Z" stroke="black" stroke-width="1.5"/>
    <path d="M16.5 10.75V6.75C16.5 4.54086 14.7091 2.75 12.5 2.75C10.2909 2.75 8.5 4.54086 8.5 6.75V10.75" stroke="black" stroke-width="1.5" stroke-linecap="square"/>
    </g>
    <defs>
    <clipPath id="clip0_934_129">
    <rect width="24" height="24" fill="white" transform="translate(0.5 0.75)"/>
    </clipPath>
    </defs>
    </svg>
                    </a>
                </li>
                <li class="nav-item" *ngIf='!isloggedin()'>
                    <a [ngClass]="" routerLink="/login">
                        <h5 class="mx-2 ">Login</h5>
                    </a>
                </li>
                <li class="nav-item" *ngIf='!isloggedin()'>
                    <a [ngClass]="" routerLink="/register">
                        <h5 class="mx2 ">Register</h5>
                    </a>
                </li>    
            </ul>
        </div>
        <div>
            <!-- <div class="darktoggle mt-3">
                <span>Dark Mode </span>
                <input type="checkbox" (click)="toggle()" id="toggle" />
                <label for="toggle"></label>
            </div> -->
            
            <app-logedinnav *ngIf='isloggedin()'></app-logedinnav>

        </div>
    </div>

</nav>